			html{
				margin:0 auto;
				height:100%;
				font-size:15px;			
			}
			body {
				margin:0 auto;
				height:100%;
				font-family:"Tahoma";
				background-color:rgba(5,5,5,0.8);
			}
			#screen {
				width:100%;
				height:100%;
				margin:0 auto;
				position:relative;
			}
			#chatbox {
				text-align:center;
				height:100%;
				position:relative;
			}
			.nav {
				display:inline-block;
				height:7%;
				margin-left:1%;
				margin-right:1%;
				position:relative;
			}
			#all,#mine {
				display:inline-block;
				height:100%;
				border:0;
			}
			a {
				-webkit-tap-highlight-color:rgba(5,5,5,0); 
			}
			
			#display {
				position:relative;
				height:81%;
				width:100%;
				margin:0;
				text-align:left;
				box-sizing:border-box;
				overflow:hidden;
			}
			
			#sendbox {
				width:100%;
				height:10rem;     
				//position:relative;
				background-color:#999999;
				position:absolute;
				bottom:0px;
				border-radius:4rem;
			}
			#tagbubbles {
				width:10%;
				position:absolute;
				bottom:1rem;
				left:1rem;
			}
			#sendbutton {
				height:4rem;
				font-family:ו;
				font-size:3rem;
				border:0px;
				border-radius:3rem;
				background-color:#66FF99;
				position:absolute;
				right:2rem;
				bottom:1.2rem;
			}
			#inputbox {
				font-size:3rem;
				width:70%;
				padding:0;
				-webkit-user-modify: read-write-plaintext-only;
				border-radius:3rem;
				position:absolute;
				right:10rem;
				bottom:1rem;
			}
			#inputbox:focus,#sendbutton:focus {
				outline:none;
			}
			input[type="checkbox"] {
				height:3rem;
				width:3rem;
			}
